* {
    font-family: "Nanum Gothic", sans-serif;
  }

.top {
    background-color: #0a090e;
}

.menubar {
    width: 90%;
	margin-left: 5%;
    margin-right: 5%;
}

.nav-item > a {
    color: white;
}

.nav-item > a:hover {
    border: 1px solid aquamarine;
    border-radius: 10px;
    color: aquamarine;
}

.contents {
    width: 100%;
    min-height: 1100px;
  
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F99F1DB425CE24D5727");
    background-position: center;
    background-size: cover;
}

.box {
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid aquamarine;
    border-radius: 10px;

    width: 90%;
    min-height: 80px;
	margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
}

.wrap_card {
    width: 90%;
    margin-bottom: 20px;
}